name: Gitea Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASS: ${{ secrets.SMTP_PASS }}
      SMTP_FROM: ${{ secrets.SMTP_FROM }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Stop existing containers (ignore errors)
        run: |
          docker compose down || true

      - name: Deploy Gitea using Docker Compose
        run: |
          docker compose up -d
