name: Gitea Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Stop existing containers (ignore errors)
        run: |
          docker compose down || true

      - name: Deploy Gitea using Docker Compose
        run: |
          docker compose up -d
